
<div id="<%= dom_id artwork %>" class="d-flex justify-content-around flex-wrap">
  <div class="card mb-3" style="width: 18rem;">
    <img src="<%= artwork.paint %>" class="card-img-top image-frame">
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text"><%= artwork.title %></p>
      <h5 class="card-title">Description</h5>
      <p class="card-text"><%= artwork.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= artwork.date %></li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">See the author: <%= artwork.author %></a>
    </div>
  </div>
</div>
