<!DOCTYPE html>
<html>
  <head>
    <title>Pitchoun2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "styleChild", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
  <div>
    <ul>
      <li>
        <a  href="/">Museum</a>
      </li>
      <li>
        <a  href="<%= new_artwork_path %>">Add an artwork</a>
      </li>
      <li >
        <a href="<%= new_child_path %>">Artists Children</a>
      </li>
    </ul>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
